body {
  font-family: Georgia, serif;
  background-color: #c0a8a8;

  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

nav{
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;

  
}

nav span{
  display: flex;
  justify-content: space-around;
}

nav a{
  padding: 1rem;
  color:black; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 1000;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}

.bookimg {
  width: 400px;
   height: 600px;
}

.callit{
  background-color: rgb(227, 233, 227);
  background-image: url("https://governorsfoundation.org/app/uploads/2022/04/GELF_Book-Bus-2.jpg");
}